{
  "plugins": [
    "check-es2015-constants",
    "transform-es2015-arrow-functions",
    "transform-es2015-computed-properties"
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "webadmin": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "safari 7"]
          }
        }]
      ]
    },
    "delivery": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["android >= 4.3", "ios >= 6.2"]
          }
        }]
      ],
      "plugins": [
        "transform-es5-property-mutators",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals"
      ]
    }
  }
}
